-# ①筋トレってなに?メリットは!?
.index-main__muscle-explanation
  .index-main__muscle-explanation__letterbox
    .index-main__muscle-explanation__letterbox__letter-top
      %p.letterbox-top.content
        筋トレって何！メリットは!?
    .index-main__muscle-explanation__letterbox__letter-center
      %p.letterbox-center 
        筋トレとは「筋肉トレーニング」の略です。
      %p.letterbox-center 
        筋力アップ、筋肉増量はもちろん、身体機能、身体能力を向上させることを目的として行います。
      %p.letterbox-center 
        メリットは「代謝の促進」「ストレスの耐性の向上」「体力の向上」などなど健康的な生活を維持することを助けてくれる効果があります。
  .index-main__muscle-explanation__equipment-photobox
    .index-main__muscle-explanation__equipment-photobox__photos.fadein-right

-# ②何をすればいいの!?
.index-main__muscle-menu
  .index-main__muscle-menu__equipment-photobox
    .index-main__muscle-menu__equipment-photobox__photos.fadein-left
  .index-main__muscle-menu__letterbox
    .index-main__muscle-menu__letterbox__letter-top
      %p.letterbox-top.content
        何をすればいいの!?
    .index-main__muscle-menu__letterbox__letter-center
      %p.letterbox-center 
        目指したい体型などによってトレーニング方法を決めます。
      %p.letterbox-center 
        しかし、トレーニング方法を考えるのは筋トレ慣れした人がやるべきで、初心者の方は何も気にせず、好きなように筋トレしてみてください！
      %p.letterbox-center 
        個人的には初心者の方は「腕立て伏せ」「スクワット」を20回 3セットが出来るようになるまで頑張ってみましょう！(ペースは3日に1回程度)
      %p.letterbox-center 
        もっと高負荷をかけたい方は「アブローラ(腹筋用器具)」や「プッシュアップバー(腕立用器具)」を購入してみたり、ジムに通うと良いです。
      %p.letterbox-center 
        ただ、腹筋を割る程度ならジムに通わず「腕立て伏せ」「スクワット」「アブローラ」を行うだけで十分にいけます！！

-# ③食事方法①
.index-main__meal-method1
  .index-main__meal-method1__letterbox
    .index-main__meal-method1__letterbox__letter-top
      %p.letterbox-top.content
        食事方法①カロリーの計算
    .index-main__meal-method1__letterbox__letter-center
      %p.letterbox-center 
        体型作りを行うなら筋トレだけではダメです！
      %p.letterbox-center 
        筋トレ以上に食事方法は大切で、なりたい体型によって摂取カロリーを計算し調整します。
      %p.letterbox-center 
        摂取カロリーの計算は意外に簡単で、お惣菜などの裏面など記載されている「糖質：○g、脂質：○g、タンパク質：○g」から求める事ができます。
      %p.letterbox-center 
        摂取カロリー = 糖質1g×4 + 脂質1g×9 + タンパク質1g×4 です。
      %p.letterbox-center 
        上記計算で1日の摂取カロリーを求めた後、1日のエネルギー必要量【農林水産省のサイト等参照】を引き +だと増量、-だと減量していきます。
      %p.letterbox-center 
        気をつけて欲しいのですが、早く痩せたい一心で全然食べない人がいますが、無理な減量は病気やリバンドの元です。
      %p.letterbox-center 
        少なくても推定エネルギー必要量の80%のカロリーは摂取しましょう！早く痩せたい人は運動量を増やせば良いだけです(笑)
  .index-main__meal-method1__equipment-photobox
    .index-main__meal-method1__equipment-photobox__photos.fadein-right

-# 食事方法②
.index-main__meal-method2
  .index-main__meal-method2__equipment-photobox
    .index-main__meal-method2__equipment-photobox__photos.fadein-left
  .index-main__meal-method2__letterbox
    .index-main__meal-method2__letterbox__letter-top
      %p.letterbox-top.content
        食事方法②タンパク質
    .index-main__meal-method2__letterbox__letter-center
      %p.letterbox-center 
        食事について、タンパク質の摂取も大事です。
      %p.letterbox-center 
        タンパク質は筋トレによって傷ついた筋肉を修復し、筋肉を育ててくれます。
      %p.letterbox-center 
        またタンパク質は筋肉以外にも髪質や肌質にも影響を与えるため非常に大切な栄養です。
      %p.letterbox-center 
        タンパク質の摂取量はトレーニングメニューによって変わりますが、「腕立て伏せ」「スクワット」程度なら「自分の体重 × 1.2(g)」くらい摂取すれば良いかなと思います！
      %p.letterbox-center 
        また、摂取方法も大切で1回の食事で摂取出来るタンパク質量は40gとされています。
      %p.letterbox-center
        よって、1度の食事で一気に摂取するのでは無くプロテインなども活用し3〜4回に分け1回あたり15g〜30gを目安に摂取すると良いです。
      %p.letterbox-center
        たまにプロテインを筋肉を増やす薬と勘違している方がいますが、あれはただのタンパク質の塊です!

-# 最後に
.index-main__last-message
  .index-main__last-message__letterbox
    .index-main__last-message__letterbox__letter-top
      %p.letterbox-top.content
        最後に！
    .index-main__last-message__letterbox__letter-center
      %p.letterbox-center 
        筋トレを初めてしっかりと体に変化が現れるまで3ヶ月程度かかるためモチベーション維持は大切です。
      %p.letterbox-center 
        オススメはYouTubeで筋トレ動画みたり、憧れの体型を定期的に調べて見ることです。
      %p.letterbox-center 
        特に芸人の筋トレYouTuber?がオススメで、話が上手く凄く勉強になります。
      %p.letterbox-center 
        皆さんも筋トレをして健康的な体を手に入れましょう！！
.index-main__last-message__equipment-photobox
  .index-main__last-message__equipment-photobox__photos.fadein-under1
    = image_tag 'man1.jpg'           , alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under2
    = image_tag 'woman2.jpg'         , alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under3
    = image_tag 'animal-kangaroo.jpg', alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under4
    = image_tag 'man2.jpg'           , alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under5
    = image_tag 'woman1.jpg'         , alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under6
    = image_tag 'animal-gorilla.jpg' , alt: '', class: 'photos'
  .index-main__last-message__equipment-photobox__photos.fadein-under7
    = image_tag 'man3.jpg'           , alt: '', class: 'photos'



:javascript
  // スクロール時に右から画像を表示
  $(function(){
    $(window).scroll(function (){
    // スクロール時に反応する
        $('.fadein-right').each(function(){
        // .fadein要素1つずつに順番に処理を行う
          var position = $(this).offset().top;
          // offset().topで、ページの最上部から「.fadein」が付いた要素までの距離を取得して、変数positionに代入
          var scroll = $(window).scrollTop();
          // スクロースした量を取得する
          var windowHeight = $(window).height();
          // .height()で、ウィンドウの高さを取得して、変数windowHeightに代入
          if (scroll > position - windowHeight + 250){
          // スクロール量が、「ページ最上部から要素までの距離」-「ウィンドウの高さ」を超えた時、つまりスクロール量が
          // 要素の位置を過ぎた瞬間、「.fadein」が付いた要素にactiveクラスが付く。
            $(this).addClass('active-right');
          }
        });
    });
  });

  // スクロール時に左から画像を表示
  $(function(){
    $(window).scroll(function (){
      $('.fadein-left').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 250){
          $(this).addClass('active-left');
        }
      });
    });
  });



  // スクロール時に下から画像を表示
  $(function(){
    $(window).scroll(function (){
      $('.fadein-under1').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under2').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under3').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under4').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under5').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under6').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });

  $(function(){
    $(window).scroll(function (){
      $('.fadein-under7').each(function(){
        var position = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll > position - windowHeight + 0){
          $(this).addClass('active-under');
        }
      });
    });
  });