= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css"
= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"

.index-header#index-header
  .index-header__box
    .index-header__box__left
    %ul.index-header__box__center
      %li.home-button
        %p Home
      %li.scroll-button
        %p merit
      %li.scroll-button
        %p What to do?
      %li.scroll-button
        %p calorie
      %li.scroll-button
        %p protein
      %li.scroll-button
        %p finally
    .index-header__box__right

.index-main
  .index-main__top
    .index-main__top__logo
      = image_tag 'logo.png', alt: '', height: '100', width: '', class: ''
    .index-main__top__letter
      初心者向け！筋トレのすすめ！
  = render 'swiper'
  = render 'index-main'

.index-footer


:javascript
  $(function() {
  // トップページヘッダー、スクロール時サイズ変更
    $(window).on('load scroll', function() {
      // ページ読み込み時とスクロール時に発火させる。
      var scrollPos = $(this).scrollTop();
      // ブラウザ画面のスクロールした位置（スクロール量）を取得し変数に代入する。
      if ( scrollPos > 30 ) {
        // もしスクロールした位置が100pxより大きければ
        $('.home-button,.scroll-button').addClass('scroll-header');
      } else {
        $('.home-button,.scroll-button').removeClass('scroll-header');
      }
    });
  });	

  $(function(){
    // ヘッダーにあるスクロールボタン
    $('.scroll-button').click(function(){
    // .btn_sampleをクリックした際に
      var i = $('.scroll-button').index(this)
      // クリックした番号(index)を取得し変数「i」に格納
      var p = $('.content').eq(i).offset().top;
      // 「i」に格納した番号と同じ番号のclass「content」の「top」の位置を取得
      // 取得した「top」の位置は変数「p」に格納する
      $('html,body').animate({scrollTop:p - 100},'fast');
      return false;
      // animateを使って変数「p」で取得した「top」の位置までスクロールする
    });
    // ページ上部へ移動する
    $('.home-button').click(function(){
      $('html,body').animate({scrollTop: 0},'fast');
      return false;
      // ページ上部へスクロールし戻る処理
      // 特に位置情報を渡す必要はないためscrollTopの値を0とする
    });
  });